custom_addons/vitalpet_account_banking_nacha/data/echeck.chase.1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2009 Jan 08 17:30:53-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="Document" type="Document"/>

<xsd:simpleType name="time_string">
<xsd:restriction base="xsd:string">
<xsd:pattern value="([0-9]{4})"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="date_string">
	<xsd:restriction base="xsd:string">
		<xsd:minLength value="0"/>
		<xsd:maxLength value="10"/>
	</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="CustomerIdType">
<xsd:restriction base="xsd:string">
<xsd:minLength value="0"/>
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="CourierCodeType">
<xsd:restriction base="xsd:string">
	<xsd:minLength value="0"/>
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="AmountType">
<xsd:restriction base="xsd:string">
	<xsd:minLength value="0"/>
<xsd:maxLength value="17"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="AccountNumberType">
<xsd:restriction base="xsd:string">
	<xsd:minLength value="0"/>
<xsd:maxLength value="17"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CheckNumberType">
<xsd:restriction base="xsd:string">
<xsd:pattern value="."/>
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PayeeNameType">
<xsd:restriction base="xsd:string">
<xsd:minLength value="0"/>
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="PayeeAddressType1">
<xsd:restriction base="xsd:string"> 
<xsd:minLength value="0"/>
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="PayeeAddressType2">
<xsd:restriction base="xsd:string"> 
<xsd:minLength value="0"/>
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PayeeAddressType3">
<xsd:restriction base="xsd:string"> 
<xsd:minLength value="0"/>
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="PayeeAddressType4">
<xsd:restriction base="xsd:string"> 
<xsd:minLength value="0"/>
<xsd:maxLength value="35"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PayeeStateType">
<xsd:restriction base="xsd:string"> 
<xsd:minLength value="0"/>
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PayeeCityType">
<xsd:restriction base="xsd:string"> 
<xsd:minLength value="0"/>
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="PayeeZipType">
<xsd:restriction base="xsd:string"> 
<xsd:minLength value="0"/>
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="InvoiceNumberType">
<xsd:restriction base="xsd:string">
<xsd:minLength value="0"/>
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PayeeCountryType">
<xsd:restriction base="xsd:string"> 
<xsd:minLength value="0"/>
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="InvoiceDateType">
<xsd:restriction base="xsd:string">
<xsd:pattern value=".{10}"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="NumberofRecordsType">
<xsd:restriction base="xsd:string">
<xsd:minLength value="0"/>
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VendorNumberType">
<xsd:restriction base="xsd:string">
<xsd:minLength value="0"/>
<xsd:maxLength value="19"/>
</xsd:restriction>
</xsd:simpleType>



<xsd:simpleType name="FileDestinationType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="PWS"/>
<xsd:enumeration value="PWSINBOX"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="PaymentHeaderRecordDetail">
<xsd:sequence>
<xsd:element name="RecordIdentifier" type="xsd:string" fixed="PMTHDR"/>
<xsd:element name="CourierCode" type="CourierCodeType"/>
<xsd:element name="FormCode" type="xsd:string" fixed="AP6V"/>
<xsd:element name="PaymentDate" type="date_string"/>
<xsd:element name="PaymentAmount" type="AmountType"/>
<xsd:element name="AccountNumber" type="AccountNumberType"/>
<xsd:element name="CheckNumber" type="CheckNumberType"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="PayeeNameRecordDetail">
<xsd:sequence>
<xsd:element name="RecordIdentifier" type="xsd:string" fixed="PAYENM"/>
<xsd:element name="PayeeName1" type="PayeeNameType"/>
<xsd:element name="PayeeName2" type="PayeeNameType"/>
<xsd:element name="VendorNumber" type="VendorNumberType"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="PayeeAddressRecordDetail">
<xsd:sequence>
<xsd:element name="RecordIdentifier" type="xsd:string" fixed="PYEADD"/>
<xsd:element name="PayeeAddress1" type="PayeeAddressType1"/>
<xsd:element name="PayeeAddress2" type="PayeeAddressType2"/>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AdditionalPayeeAddressRecordDetail">
<xsd:sequence>
<xsd:element name="RecordIdentifier" type="xsd:string" fixed="ADDPYE"/>
<xsd:element name="PayeeAddress3" type="PayeeAddressType3"/>
<xsd:element name="PayeeAddress4" type="PayeeAddressType4"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="PayeePostalRecordDetail">
<xsd:sequence>
<xsd:element name="RecordIdentifier" type="xsd:string" fixed="PYEPOS"/>
<xsd:element name="PayeeCity" type="PayeeCityType"/>
<xsd:element name="PayeeState" type="PayeeStateType"/>
<xsd:element name="PayeeZip" type="PayeeZipType"/>
<xsd:element name="PayeeCountry" type="PayeeCountryType"/>
</xsd:sequence>
</xsd:complexType>


<!-- <xsd:complexType name="RemittanceDetailType">
	<xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element name="RemittanceType" type="RemittanceDetailType1"/>
	</xsd:sequence>
</xsd:complexType> -->


<xsd:complexType name="FileTrailerRecordDetail">
<xsd:sequence>
<xsd:element name="RecordIdentifier" type="xsd:string" fixed="FILTRL"/>
<xsd:element name="NumberofRecords" type="NumberofRecordsType"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FileHeaderRecordDetail">
<xsd:sequence>
<xsd:element name="RecordIdentifier" type="xsd:string" fixed="FILHDR"/>
<xsd:element name="FileDestination" type="FileDestinationType"/>
<xsd:element name="CustomerId" type="CustomerIdType"/>
<xsd:element name="TransactionDate" type="date_string"/>
<xsd:element name="TransactionTime" type="time_string"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="RemittanceDetailType">
<xsd:sequence minOccurs="0" maxOccurs="unbounded">
<xsd:element name="RecordIdentifier" type="xsd:string" fixed="RMTDTL"/>
<xsd:element name="InvoiceNumber" type="InvoiceNumberType"/>
<xsd:element name="Description" type="InvoiceNumberType"/>
<xsd:element name="InvoiceDate" type="InvoiceDateType"/>
<xsd:element name="NetAmount" type="AmountType"/>
<xsd:element name="GrossAmount" type="AmountType"/>
<xsd:element name="DiscountAmount" type="AmountType"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="PaymentDetail">
<xsd:sequence minOccurs="0" maxOccurs="unbounded">
<xsd:element name="PaymentHeaderRecord" type="PaymentHeaderRecordDetail"/>
<xsd:element name="PayeeNameRecord" type="PayeeNameRecordDetail"/>
<xsd:element name="PayeeAddressRecord" type="PayeeAddressRecordDetail"/>
<xsd:element name="AdditionalPayeeAddressRecord" type="AdditionalPayeeAddressRecordDetail"/>
<xsd:element name="PayeePostalRecord" type="PayeePostalRecordDetail"/>
<xsd:element name="RemittanceType" type="RemittanceDetailType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="Document">
<xsd:sequence> 
<xsd:element name="FileHeaderRecord" type="FileHeaderRecordDetail"/>
<xsd:element name="Payment" type="PaymentDetail" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="FileTrailerRecord" type="FileTrailerRecordDetail"/>
</xsd:sequence>
</xsd:complexType>

</xsd:schema>

