custom_addons/vitalpet_account_banking_nacha/data/NACHA.xml.1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2009 Jan 08 17:30:53-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Document" type="Document"/>
    
    <xsd:simpleType name="ImmediateDestinationType">
        <xsd:restriction base="xsd:string"> 
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ImmediateOriginType">
        <xsd:restriction base="xsd:string"> 
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="time_string">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([0-9]{4})"/>
    </xsd:restriction>
  </xsd:simpleType>
  
    <xsd:simpleType name="date_string">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([0-9]{6})"/>
    </xsd:restriction>
  </xsd:simpleType>
  

<xsd:simpleType name="upperalphanumeric_string">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([a-zA-Z0-9]{1})"/>
    </xsd:restriction>
</xsd:simpleType>
    

    <xsd:simpleType name="OriginNameDetailLong">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value=".{23}"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="CompanyNameShort">
        <xsd:restriction base="xsd:string"> 
            <xsd:pattern value=".{16}"/>
        </xsd:restriction>
    </xsd:simpleType>

    
    <xsd:simpleType name="CompanyIdentificationType">
        <xsd:restriction base="xsd:string"> 
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CompanyEntryDescriptionType">
        <xsd:restriction base="xsd:string"> 
            <xsd:minLength value="0"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CompanyDescriptiveDateType">
        <xsd:restriction base="xsd:string">
      <xsd:pattern value=".{6}"/>
    </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="SettlementDateType">
        <xsd:restriction base="xsd:string"> 
            <xsd:minLength value="0"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="OriginDFIIdentificationType">
       <xsd:restriction base="xsd:int">
          <xsd:pattern value="([0-9]{8})"/>
       </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="BatchNumberType">
       <xsd:restriction base="xsd:int">
          <xsd:pattern value="([0-9]{7})"/>
       </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="TransactionCodeType">
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="23"/>
            <xsd:enumeration value="22"/>
            <xsd:enumeration value="33"/>
            <xsd:enumeration value="32"/>
          </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name='ReceivingDFIIdentificationType'>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([A-Z0-9]{8})"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name='CompanyDiscretionaryDataType'>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="\s{20}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name='DiscretionaryDataType'>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="\s{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    

    <xsd:simpleType name="CheckDigitType">
       <xsd:restriction base="xsd:int">
          <xsd:pattern value="\d{1}"/>
       </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="DFIAccountNumberType">
       <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="17"/>
       </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="AmountType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{1,10}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="IdentificationNumberType">
       <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="15"/>
       </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ReceivingCompanyNameType">
       <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="22"/>
       </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="AddendaRecordIndicatorType">
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
          </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="TraceNumberType">
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="([A-Z0-9]{15})"/>
          </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ReferenceCodeType">
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s{8}"/>
          </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="BatchCountType">
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0-9]{6})"/>
          </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="BlockCountType">
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0-9]{6})"/>
          </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PaymentRelatedInfoDetail">
       <xsd:restriction base="xsd:string">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="80"/>
       </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="EntryDetailSequenceNumberType">
          <xsd:restriction base="xsd:int">
            <xsd:pattern value="\d{7}"/>
          </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="EntryCountType">
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0-9]{6})"/>
          </xsd:restriction>
    </xsd:simpleType>

     <xsd:simpleType name="EntryControlCountType">
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0-9]{8})"/>
          </xsd:restriction>
    </xsd:simpleType>

    


    <xsd:simpleType name="EntryHashType">
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0-9]{10})"/>
          </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="TotalDebitType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{1,12}"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="TotalCreditType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{1,12}"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="ReservedFileControlType">
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="\s{1,39}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ReservedBatchControlType">
          <xsd:restriction base="xsd:string">
                <xsd:pattern value="\s{1,6}"/>     
          </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="ImmediateDestinationNameType">
          <xsd:restriction base="xsd:string">
                <xsd:pattern value="\s|([A-Za-z0-9 ]{23})"/>
          </xsd:restriction>
    </xsd:simpleType>



    <xsd:complexType name="FileHeaderRecordDetail">
        <xsd:sequence>
            <xsd:element name="RecordTypeCode" type="xsd:string" fixed="1"/>
            <xsd:element name="PriorityCode" type="xsd:string" fixed="01"/>
            <xsd:element name="ImmediateDestination" type="ImmediateDestinationType"/>
            <xsd:element name="ImmediateOrigin" type="ImmediateOriginType"/>
            <xsd:element name="FileCreationDate" type="date_string"/>
            <xsd:element name="FileCreationTime" type="time_string"/>
            <xsd:element name="FileIdModifier" type="upperalphanumeric_string"/>
            <xsd:element name="RecordSize" type="xsd:string" fixed="094"/>
            <xsd:element name="BlockingFactor" type="xsd:string" fixed="10"/>
            <xsd:element name="FormatCode" type="xsd:string" fixed="1"/>
            <xsd:element name="ImmediateDestinationName" type="ImmediateDestinationNameType"/>
            <xsd:element name="ImmediateOriginName" type="OriginNameDetailLong"/>
            <xsd:element name="ReferenceCode" type="ReferenceCodeType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BatchHeaderRecordDetail">
        <xsd:sequence>
            <xsd:element name="RecordTypeCode" type="xsd:string" fixed="5"/>
            <xsd:element name="ServiceClassCode" type="xsd:string" fixed="200"/>
            <xsd:element name="CompanyName" type="CompanyNameShort"/>
            <xsd:element name="CompanyDiscretionaryData" type="CompanyDiscretionaryDataType"/>
            <xsd:element name="CompanyIdentification" type="CompanyIdentificationType"/>
            <xsd:element name="StandardEntryClassCode" type="xsd:string" fixed="CCD"/>
            <xsd:element name="CompanyEntryDescription" type="CompanyEntryDescriptionType"/>
            <xsd:element name="CompanyDescriptiveDate" type="CompanyDescriptiveDateType"/>
            <xsd:element name="EffectiveEntryDate" type="date_string"/>
            <xsd:element name="SettlementDate" type="SettlementDateType"/>
            <xsd:element name="OriginStatusCode" type="xsd:string" fixed="1"/>
            <xsd:element name="OriginDFIIdentification" type="OriginDFIIdentificationType"/>
            <xsd:element name="BatchNumber" type="BatchNumberType"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="CCDEntryDetailRecordDetail">
        <xsd:sequence>
            <xsd:element name="RecordTypeCode" type="xsd:string" fixed="6"/>
            <xsd:element name="TransactionCode" type="TransactionCodeType"/>
            <xsd:element name="ReceivingDFIIdentification" type="ReceivingDFIIdentificationType"/>
            <xsd:element name="CheckDigit" type="CheckDigitType"/>
            <xsd:element name="DFIAccountNumber" type="DFIAccountNumberType"/>
            <xsd:element name="Amount" type="AmountType"/>
            <xsd:element name="IdentificationNumber" type="IdentificationNumberType"/>
            <xsd:element name="IndividualName" type="ReceivingCompanyNameType"/>
            <xsd:element name="DiscretionaryData" type="DiscretionaryDataType"/>
            <xsd:element name="AddendaRecordIndicator" type="AddendaRecordIndicatorType"/>
            <xsd:element name="TraceNumber" type="TraceNumberType"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="CommonAddendaRecordDetail">
        <xsd:sequence>
            <xsd:element name="RecordTypeCode" type="xsd:string" fixed="7"/>
            <xsd:element name="AddendaTypeCode" type="xsd:string" fixed="05"/>
            <xsd:element name="PaymentRelatedInfo" type="PaymentRelatedInfoDetail"/>
            <xsd:element name="AddendaSequenceNumber" type="xsd:string" fixed="0001"/>
            <xsd:element name="EntryDetailSequenceNumber" type="EntryDetailSequenceNumberType"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="BatchControlRecordDetail">
        <xsd:sequence>
            <xsd:element name="RecordTypeCode" type="xsd:string" fixed="8"/>
            <xsd:element name="ServiceClassCode" type="xsd:string" fixed="200"/>
            <xsd:element name="EntryCount" type="EntryCountType"/>
            <xsd:element name="EntryHash" type="EntryHashType"/>
            <xsd:element name="TotalDebit" type="TotalDebitType"/>
            <xsd:element name="TotalCredit" type="TotalCreditType"/>
            <xsd:element name="CompanyIdentification" type="CompanyIdentificationType"/>
            <xsd:element name="MessageAuthenticationCode"/>
            <xsd:element name="Reserved" type='ReservedBatchControlType'/>
            <xsd:element name="OriginDFIIdentification" type="OriginDFIIdentificationType"/>
            <xsd:element name="BatchNumber" type="BatchNumberType"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="FileControlRecordDetail">
        <xsd:sequence>
            <xsd:element name="RecordTypeCode" type="xsd:string" fixed="9"/>
            <xsd:element name="BatchCount" type="BatchCountType"/>
            <xsd:element name="BlockCount" type="BlockCountType"/>
            <xsd:element name="EntryCount" type="EntryControlCountType"/>
            <xsd:element name="EntryHash" type="EntryHashType"/>
            <xsd:element name="TotalDebit" type="TotalDebitType"/>
            <xsd:element name="TotalCredit" type="TotalCreditType"/>
            <xsd:element name="Reserved" type="ReservedFileControlType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BatchDetail">
        <xsd:sequence minOccurs="0" maxOccurs="1000">
            <xsd:element name="BatchHeaderRecord" type="BatchHeaderRecordDetail" />
            <xsd:element name="CCDEntryDetailRecord" type="CCDEntryDetailRecordDetail"/>
            <xsd:element name="CommonAddendaRecord" type="CommonAddendaRecordDetail"/>
            <xsd:element name="BatchControlRecord" type="BatchControlRecordDetail"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Document">
        <xsd:sequence> 
            <xsd:element name="FileHeaderRecord" type="FileHeaderRecordDetail"/>
            <xsd:element name="Batch" type="BatchDetail"/>
            <xsd:element name="FileControlRecord" type="FileControlRecordDetail"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>

